/* .auth-container {
  background: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background: #6b0f0f;
  padding: 30px;
  width: 320px;
  text-align: center;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.auth-card button {
  background: #8b0000;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.auth-card p {
  margin-top: 15px;
  cursor: pointer;
  font-size: 14px;
} */
 .auth-container {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle at top, #141420, #0b0b0f);
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  width: 340px;
  padding: 35px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  text-align: center;
  animation: fadeIn 0.8s ease;
}

.auth-card h2 {
  margin-bottom: 20px;
  color: white;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.9);
  color: black;
}

.auth-card button {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(135deg, #00f5d4, #7b61ff);
  cursor: pointer;
}

.auth-card p {
  margin-top: 15px;
  font-size: 14px;
  cursor: pointer;
  color: #00f5d4;
}
